/* slick css used in homepage , single products page */
.slick-prev:before {
  content: url(/assets/images/png&jpg/left-arrow.png) !important;
}

.slick-next:before {
  content: url(/assets/images/png&jpg/right-arrow.png) !important;
}

.slick-track {
  margin-left: unset !important;
}

.slick-slide > div {
  height: 100% !important;
}

.slick-slide {
  height: auto !important;
}
.slick-track {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  align-items: stretch !important;
}

.slider-nav .slick-disabled,
.category-items .slick-disabled {
  display: none !important;
}

@media (max-width: 992px) {
  .slider-nav .slick-arrow,
  .slick-arrow {
    transform: translate(0,-50%)scale(0.6) !important;
  }
}
.slick-arrow {
  background: rgb(246, 246, 246) !important;
  height: 40px !important;
  width: 40px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 50% !important;
  box-shadow: 0px 0px 4px gray !important;
  z-index: 99 !important;
}
/* tabs in category page */
#default-tab button[aria-selected="false"] {
  border-left-color: transparent !important;
}
.slick-next {
  right: -12px !important;
}
.slick-prev {
  left: -12px !important;
}

#default-tab button[aria-selected="true"] {
  border-left-color: #2ead56;
  background-color: rgb(94 171 86 / 0.15);
}
